@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
	.perspective-120 {
		perspective: 120px;
	}

	.perspective-origin-bottom {
		perspective-origin: bottom;
	}
}
html {
	scroll-behavior: smooth !important;
}

.to_b_blacck_white {
	background: linear-gradient(180deg, #dedddd, #ffffff);
}

::-webkit-scrollbar {
	scroll-behavior: smooth !important;
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background: black;
}
::-webkit-scrollbar-thumb:hover {
	background: lightslategray;
}

/* html.lenis {
	height: auto;
}
.lenis.lenis-smooth {
	scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}
.lenis.lenis-stopped {
	overflow: hidden;
}
.lenis.lenis-scrolling iframe {
	pointer-events: none;
} */
